@font-face {
   font-family: 'Xiomara-Script';
   font-display: swap;
   src: url('Xiomara-Script/font.ttf');
}

@font-face {
   font-family: 'BKHandyCyr';
   font-display: swap;
   src: url('BKHandyCyr.ttf');
}
